<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="VideoSupplyManagementEntities" connectionString="metadata=res://*/Models.Data.csdl|res://*/Models.Data.ssdl|res://*/Models.Data.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-B91UJ37;initial catalog=VideoSupplyManagement;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--<connectionStrings>
    <add name="VideoSupplyManagementEntities" connectionString="metadata=res://*/Models.Data.csdl|res://*/Models.Data.ssdl|res://*/Models.Data.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PHONG\SQLEXPRESS;initial catalog=VideoSupplyManagement;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
</configuration>